/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.content-about h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -1px 0 2px #2f4d5a;
}

.content-about h2 {
    margin: 0 0 10px 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -1px 0 2px #2f4d5a;
}

.content-about .ca3 {
    font-size: 18px;
    color: #fff;
}

.about {
    background: url("../../img/bg_about.jpg") center center no-repeat;
    background-size: cover;
    padding: 60px 0;
    position: relative;
}

.about::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 9;
}

.about .container {
    position: relative;
    z-index: 10;
}

.about .content {
    padding: 30px 30px 30px 0;
}

.about .content h3 {
    font-weight: 700;
    font-size: 34px;
    color: #2f4d5a;
    margin-bottom: 30px;
}

.about .content p {
    margin-bottom: 30px;
}

.about .content .about-btn {
    display: inline-block;
    background: #67b0d1;
    padding: 6px 44px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: 0.3s;
    position: relative;
}

.about .content .about-btn i {
    font-size: 18px;
    position: absolute;
    right: 18px;
    top: 9px;
}

.about .content .about-btn:hover {
    background: #7bbad7;
}

.about .icon-boxes .icon-box {
    margin-top: 30px;
}

.about .icon-boxes .icon-box i {
    font-size: 40px;
    color: #67b0d1;
    margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
}

@media (max-width: 1200px) {
    .about .content {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .about {
        text-align: center;
    }

    .content-about h1 {
        max-width: 100vw;
        margin: 0;
        font-size: 50px;
        font-weight: 700;
        padding: 10px;
        text-transform: uppercase;
        color: #fff;
    }
    
    .content-about h2 {
        max-width: 100vw;
        margin: 0 0 10px 0;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
    }

    .content-about .ca3 {
        max-width: 100vw;
        padding: 10px;
        font-size: 16px;
        color: #fff;
    }
}
  
  